
body{
  font-family: "Merriweather";
  font-size: 16px;
  line-height: 1.5;
  background-color: white;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

footer{
  font: 10px "Montserrat";
  color: #193B6C;
  padding: 4px;
}

h1 {
    font: 40px "Montserrat" !important;
    color: #193B6C;
    text-transform: uppercase;
}
h2 {
    font: 20px "Open Sans";
    color: ##193B6C;
}
h3 {
    font: 18px "Montserrat";
    color: black;
    font-weight: bold;
}
p {
   font: 16px "Open Sans" !important;
   color: ##193B6C;
   font-weight: normal;
}

ul {
  list-style-type: none;
  background-color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  width: 100%;
}

li a {
  display: block;
  color: #193B6C;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  color:white;
  background-color: #8c9db5;
}

img {
  max-width: 100%;
  height: auto;
}

img.image:hover{
  border-color: #193B6C;
  opacity: 50%;
}

.active {
  background-color: #8c9db5;
}

.bg-splash{
  background-color: #f3f5f7;
  border-bottom: 1.5px solid #8c9db5;
  border-top: 1.5px solid #8c9db5
}

.button, .button:hover, .button:visited, .button:active {
  background-color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.caps{
  text-transform: uppercase;
}

.center{
  text-align: center;
}

.circle-image{
  border-radius: 50%;
  padding: 5px;
  background-color: white;
  border: 1.5px solid #8c9db5;
}

.col{
  float: left;
  width: 50%;
}

.col1{
  float: left;
  width: 75%;
}

.col2{
  float: left;
  width: 25%;
}

.cv{
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

/* Style all font awesome icons */
.fa {
  font-size: 20px !important;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fill {
  width: 100%;
}

.header-text{
  width: 70% !important;
  margin: auto;
}

.left {
  float: left;
}

.logo{
  font: 18px "Montserrat";
  color: #193B6C;
  text-transform: uppercase;
  font-weight: bold;
}

.page-content{
  width: 55%;
  margin: auto;
}

.project-image-col{
  display: block;
  text-align: center;
  padding-right: 2%;
  float: left;
  width: 42%;
}

.project-text-col{
  float: left;
  width: 56%;
}

.right{
  float: right;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  ul.topnav li {
    float: none;
  }
}

@media screen and (max-width: 600px) {
  .col1, .col2, .col, .project-image-col, .project-text-col{
    width: 100%;
  }
}

#section1 {
  font: 12px "Open Sans" !important;
  color: ##193B6C;
  font-weight: normal;
}
